@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.margin-top-100{
    margin-top: 100px;
}
/* COMMON */
.conteiner{
    width: 100%;
}
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
/* column */
.col-15{
    width: calc(100% / 6 - 10px);
    height: 100px;
    background-color: bisque;
}
.col-100{
    width: 100%;
}
/* LAYOUT */
.top{
    height: calc(100vh - 75px);
    background-color: aquamarine;
}
.bottom{
    height: 75px;
    background-color: grey;
}
.top-content{
    display: flex;
    height: 100%;
}
/* sidebar */
.sidebar{
    position: relative;
    height: 100%;
    width: 300px;
    background-color: black;
    padding: 20px;
    color: #717171;
}
.logo img{
    width: 150px;
}
.first-nav{
    margin-top: 20px;
}
.first-nav li img{
    width: 30px;
    vertical-align: middle;
}
.first-nav ul{
    list-style-type: none;
}
.first-nav ul li{
    padding: 5px 0 ;
}
/* second nav */
.sidebar h3{
    color: #fff;
    margin-top: 20px;
}
.add-playlist{
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
}
.square-plus{
    height: 50px;
    width: 50px;
    background-color: #A3A3A3;
    color: black;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.name-playlist ul{
    list-style-type: none;
}
.name-playlist ul li{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
/* bottom of sidebar */
.bottom-sidebar{
    position: absolute;
    bottom: 0px;
}
.d-flex-gap{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}
.download img{
    width: 25px;
}
.bottom-sidebar hr{
  border: 1px solid #717171;
  width: 250px;
}
.user{
    height: 30px;
    width: 30px;
    background-color: #A3A3A3;
    border-radius: 50%;
    background-image: url("../img/profile.svg");
    background-size: cover;
}
.user-name{
    color: #fff;
}
/* main content */
.content{
    height: 100%;
    width: calc(100vw - 300px);
    overflow-y: auto;
    background-color: rgb(46, 157, 255);
}
/* upgrade */
.upgrade{
    background-color: rgba(49, 49, 49, 0.274);
    position: fixed;
    z-index: 1;
    height: 75px;
    width: 100%;
}

/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
    /* fix main content */
    .col-25{
        width: calc(100% / 4 - 10px);
    }
}
@media screen and (max-width: 768px) {
    /* fix main content */
    .col-50{
        width: calc(100% / 2 - 10px);
    }
}
@media screen and (max-width: 650px) {
    /* fix sidebar */
    .sidebar{
        width: 80px;
    }
    .content{
        width: calc(100vw - 80px);
    }
}