@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* COMMON TO REMOVE */
.height-100{
    height: 100px;
}
.height-500{
    height: 500px;
}
.margin-top-100{
    margin-top: 100px;
}
/* COMMON */
.conteiner{
    width: 100%;
}
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
/* column */
.col-15{
    width: calc(100% / 6 - 10px);
    height: 100px;
    background-color: bisque;
}
.col-100{
    width: 100%;
}
/* LAYOUT */
.top{
    height: calc(100vh - 75px);
    background-color: aquamarine;
}
.bottom{
    height: 75px;
    background-color: grey;
}
.top-content{
    display: flex;
    height: 100%;
}
/* sidebar */
.sidebar{
    height: 100%;
    width: 300px;
    background-color: black;
}
.sidebar nav{
    background-color: aliceblue;
    border: 1px solid salmon;
}
/* main content */
.content{
    height: 100%;
    width: calc(100vw - 300px);
    overflow-y: auto;
    background-color: rgb(46, 157, 255);
}
/* upgrade */
.upgrade{
    background-color: rgba(49, 49, 49, 0.274);
    position: fixed;
    z-index: 1;
    height: 75px;
    width: 100%;
}