@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* LAYOUT */
.top{
    height: calc(100vh - 75px);
    background-color: aquamarine;
}
.bottom{
    height: 75px;
    background-color: grey;
}
